@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');

body {
    font-family: 'Amiri', sans-serif;
    background-color: #292c55;
    overflow-x: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amiri', sans-serif;
}



.row {
    --bs-gutter-x: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    /* Set background color */
    font-size: 1.5rem;
}

.navbar-collapse {
    flex-grow: 0;
    direction: rtl;
}

.navbar-nav {
    display: flex;
    width: 100%;
}

.navbar-nav .nav-item {
    padding: 0 10px;
}


.navbar-nav .nav-item .nav-link {
    color: #e6e5e3;
}

.navbar-nav .navbar-text a {
    color: #c3a463;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #c3a463;
}

.navbar-nav .nav-item .nav-link:active {
    color: #c3a463;
}

.navbar-brand {
    font-family: 'Amiri', serif;
    font-size: 2vw;
}




/* CSS */
.logobutton {
    align-self: center;
    background-color: #f5f5f7;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    color: #292c55;
    cursor: pointer;
    display: inline-block;
    font-family: 'Amiri', serif;
    font-size: 2rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 435ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: auto;
}

.logobutton:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    color: #858585;
}

.logobutton:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #292c55;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
    line-height: 1.5;
}

.pic {
    display: flex;
    justify-content: center;
    height: 35vh;
    width: 30%;
}


.rowy {
    padding: 5% 1%;
    height: auto;
}

.hovery {
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: all 435ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.hovery:hover {
    box-shadow: rgba(233, 233, 233, 0.927) 2px 8px 8px -5px;
    transform: translate3d(3px, 6px, 0);
    color: #fffcfc;
}

.hovery:focus {
    box-shadow: #ffffff;
}

.rectangle {
    opacity: 0;
    animation: slideInFromRight 1s forwards;
    animation-delay: 2s;
    /* Adjust the margin-top as needed */
    font-family: 'Amiri', serif;
    height: auto;
    width: 70%;

    display: flex;
    font-weight: 700;
    /* Add this line to hide overflow content */
    border-radius: 0 0 50% 0/ 50% 0 0 50%;
    /* Create wavy shape at top-right and bottom-left corners */
}

.rectangle .intro {
    height: auto;
}

.rectangle .intro h2 {
    color: #ffffff;
    direction: rtl;
    line-height: 2;
    font-size: 2rem;
    letter-spacing: 1px;
}



.Contactbutton {
    background-color: #c3a463;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(239, 239, 239, 0.2) 15px 28px 25px -18px;
    color: #e3e3e3;
    cursor: pointer;
    font-family: 'Amiri', serif;
    font-size: 2rem;
    line-height: 1.2;
    outline: none;
    padding: 6px 6px;
    text-decoration: none;
    transition: all 435ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Contactbutton:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    color: #04011c;
}

.Contactbutton:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/*

.buton {
    color: #fffff4;
}

.buton:hover {
    color: rgb(240, 240, 240);
    /* Change text color to red on hover 


.buton::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.buton::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(1.95);
    filter: blur(20px);
}

.buton:hover::after {
    filter: blur(30px);
}

.buton:hover::before {
    transform: rotate(-180deg);
}

.buton:active::before {
    scale: 0.7;
}


.cardcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(103, 103, 103, 0);
    padding: 5% 5%;
}

.card {
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #09077f 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #2900de 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
}

.card p:not(.heading) {
    font-size: 14px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(.87) scaleY(1.4);
}








h1 {
    font-family: "Arima Madurai", cursive;
    color: black;
    font-size: 4rem;
    letter-spacing: -3px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 3;
}

*/



#ourWork {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.our-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

/*.workTitle h1 {
    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 3rem;
    color: #16425B;
    padding: 1rem 1rem;
}
*/
.workTitle h2 {
    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 3rem;
    color: #f3f5f6;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-around;
    height: 13vh;
    flex-direction: column;
}

.carousel-inner {
    border-radius: 15px;
    /* Adjust the border radius as needed */
    overflow: hidden;
    /* Hide overflowing content */
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    border-radius: 15px;
    /* Adjust the border radius as needed */
    width: 100%;
    height: auto;
}

.carousel-caption {
    /* Add a semi-transparent background to the captions */
    /* Adjust the border radius as needed */
    padding: 10px;
    color: #fff;
    /* Set caption text color */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    width: 100%;
}

/* Customize Bootstrap carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
    font-size: 24px;
    /* Adjust the font size as needed */
    background-color: #f0a6ca00;
    /* Set your desired background color */
    color: #fff;
    /* Set your desired text color */
    border: none;
    /* Remove the default border */
    width: 50px;
    padding: 4px;
    /* Make it circular if desired */
    /* Adjust padding as needed */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #cecdcc26;
    /* Set your desired hover background color */
    color: #fff;
    /* Set your desired hover text color */
}

.OurService {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15vh 0vh;
}

.ServiceTitle h2 {

    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 5rem;
    color: #f5f5f5;
    padding: 2rem 2rem;
    line-height: 1.5;

}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    color: #ffffff;
    font-size: 32px;
    width: 30px;
    padding: 20px;
    background-color: #ff000000;
    border: none;
    border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #00000092;
    /* Change hover background color */
}

.owl-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.owl-carousel .owl-dots button {
    background-color: #251f1f;
    /* Change dot color */
    width: 15px;
    height: 15px;
    margin: 20px 10px;
    border-radius: 50%;
    border: none;
}

.owl-carousel .owl-dots button.active {
    background-color: #ffffff;
    /* Change active dot color */
}



.ag-format-container {
    width: 100%;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.somework {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fancy {
    --b: 6px;
    /* control the border thickness */
    --w: 80px;
    /* control the width of the line*/
    --g: 15px;
    /* control the gap */
    --c: #c3a463;
    width: fit-content;
    padding: .5em;
    border: 1px solid;
    color: #fff;
    background:
        conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
        conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image:
        linear-gradient(#0000 calc(50% - var(--b)/2),
            var(--c) 0 calc(50% + var(--b)/2),
            #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #75c9758b;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: rgb(142, 24, 196);

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 140px;
    background-color: #ececec00;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all 1.5s ease;
}

.item1 .ag-courses-item_bg {
    background-color: #c3a463;
}

.item2 .ag-courses-item_bg {
    background-color: #c3a463;
}

.item3 .ag-courses-item_bg {
    background-color: #c3a463;
}

.item4 .ag-courses-item_bg {
    background-color: #c3a463;
}

.item5 .ag-courses-item_bg {
    background-color: #c3a463;
}

.item6 .ag-courses-item_bg {
    background-color: #c3a463;
}

.item7 .ag-courses-item_bg {
    background-color: #c3a463;
}

.item8 .ag-courses-item_bg {
    background-color: #c3a463;
}

.animate-img {
    animation: fadeIn 3s backwards;
    border-radius: 50%;
}

/*media Quiries */
@media only screen and (max-width: 1200.98px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }

    .rowy {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar-toggler.collapsed {
        margin-right: auto;
        /* Adjust the left position as needed */
        /* Adjust the top position as needed */
    }

    .pic img {
        text-align: center;
        height: 30vh;
        /* Ensure the image doesn't overflow */
        /* Maintain aspect ratio */
    }

    .navbar {
        background-color: #292c556a;
    }

    .navbar-collapse {
        justify-content: center;

    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .navbar-nav .nav-item {
        display: inline-block;
        padding: 10px;
    }

    .navbar-brand {
        display: none;
        /* Hide the navbar brand */
    }

    .navbar-toggler {
        order: 0;
        /* Set the order to 0 (move to the beginning) */
    }

    .navbar-collapse {
        order: -1;
        /* Set the order to -1 (move to the beginning) */
    }

    .navbar-nav .nav-item .nav-link {
        color: #dbdbdb;
    }

    .navbar-brand {
        margin-bottom: auto;
        order: 0;
    }

    .signout-container {
        margin-top: 10px;
        /* Add margin for better spacing */
    }

    .rectangle {
        width: 100%;
        /* Adjust the width as needed */
        height: auto;
        padding: 1rem 1rem;
    }

    .rectangle .intro h2 {
        font-size: 1rem;
    }

    #home {
        height: 100vh;
    }

    .rowy {
        flex-wrap: nowrap;
        padding: 15% 3%;
    }

    .logo-container {
        display: none;
        /* Hide the container on screens less than 960px */
    }

    .workTitle h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 767.98px) {
    .ag-format-container {
        width: 96%;
    }

    .rowy {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pic img {
        text-align: center;
        height: 30vh;
        /* Ensure the image doesn't overflow */
        /* Maintain aspect ratio */
    }

    .carousel-item img {
        height: 35vh;
    }

    .workTitle h1 {
        font-size: 2rem;
        margin: 5%;
    }

    .rectangle {
        width: 100%;
        /* Adjust the width as needed */
        height: auto;
        padding: 1rem 1rem;
    }

    .rectangle .intro h2 {
        font-size: 1rem;
    }

    .pic {
        order: -1;
    }
}

.mainwho {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.clip-text h1 {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    color: #0e3c43;

    @supports (background-clip:text) or (-webkit-background-clip:text) {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: url(Assets/1500x500.jpeg);
        background-size: cover;
        background-position: center;
    }
}

.clip-text p {
    @supports (background-clip:text) or (-webkit-background-clip:text) {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: url(Assets/partnericons/6.jpeg
);
        background-size: cover;
        background-position: center;
    }
}


.textP {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #FFF;
    line-height: 2.5;
}

/* Add this CSS to your existing stylesheet or in a style tag in the head section */

.owl-carousel.caro2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.owl-carousel.caro2 .item {
    /* Set the width of each carousel item */
    text-align: center;
}

.owl-carousel.caro2 .item img {
    max-width: 100%;
    /* Ensure images don't exceed the width of the container */
    height: 40vh;
    /* Maintain the aspect ratio of the images */
    border: 1px solid #444242;
    /* Optional: Add a border for separation */
    border-radius: 7px;
    /* Optional: Add border-radius for rounded corners */
    /* Adjust the percentage value for responsive margin */
}


.contact-form textarea {
    resize: none;
}

.contact-form .form-input,
.form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
}

.contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
}

.contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control:focus {
    border-color: #f33fb0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
}

.contact-form .submit-button-wrapper {
    text-align: center;
}

.contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: #f23292;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
    background-color: #d30069;
}

#floatingChatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3f51b5;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#chatBox {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 998;
}

.hidden {
    display: none;
}

@media screen and (max-width: 767.98px) and (min-width: 575.98px) {
    .textP {
        font-size: .9rem;
    }

    .ServiceTitle h2 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 575.98px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .textP {
        font-size: 1rem;
    }

    .workTitle h2 {
        font-size: 2.5rem;
    }

    .ServiceTitle h2 {
        font-size: 2.2rem;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .rowy {
        padding: 14vh 3vh;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }

    .owl-carousel .owl-dots {
        visibility: hidden;
    }
}

@media only screen and (max-width: 490px) {
    #home {
        height: 100vh;
    }

    .pic {
        height: 30vh;
        width: 80%;
    }

    .rectangle {
        height: auto;
        padding: 0;
    }

    .rectangle .intro h2 {
        font-size: 1rem;
    }



}



@media only screen and (min-width: 1201px) {
    .pic {
        height: 30vh;
    }

    .rowy {
        padding: 12% 0%;
    }

    .rectangle {
        display: flex;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}



@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (min-width: 2000px) {
    .separator {
        padding: 3% 4%;
    }
}